/* ROOT */
:root {
  --primary-midnight-green-color: #014e56;
  --primary-light-color: #f67e7e;
  --primary-white-color: #ffffff;

  --secondary-rapture-blue-color: #79c8c7;
  --secondary-police-blue-color: #2c6269;
  --secondary-deep-jungle-blue-color: #004047;
  --secondary-sacramento-state-color: #012f34;
  --secondary-dark-green-color: #002529;

  --main-font-family: "Livvic", Arial, Helvetica, sans-serif;

  --main-font-size-1: 1.8rem;
  --main-font-height-1: 1.56;

  --main-font-size-2: 1.5rem;
  --main-font-height-2: 1.67;

  --heading-font-weight: 700;

  --heading1-large-font-size: 10rem;
  --heading1-large-font-height: 10rem;

  --heading1-small-font-size: 6.4rem;
  --heading1-small-font-height: 0.88;

  --heading2--font-size: 4.8rem;
  --heading2--font-height: 1;

  --heading3--font-size: 1.8rem;
  --heading3--font-height: 1.56;
}
/* HEADER */
.sitenav__link,
.header__btn,
.action__btn,
.footer__social_link > svg > path {
  transition: 0.3s;
}
.sitenav__link:hover {
  color: var(--primary-light-color);
}
.header__btn:hover {
  background-color: var(--primary-white-color);
  color: var(--secondary-dark-green-color);
}
.action__btn:hover {
  background-color: var(--secondary-sacramento-state-color);
  color: var(--primary-white-color);
}
.footer__social_link:hover svg path {
  fill: var(--primary-light-color);
}
